<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Guess that Pokemon!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}" />
            -->
    <script
            src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
            crossorigin="anonymous"></script>
    <!--
    <script
            src="{{ url_for('static', filename='scripts.js') }}"
            ></script>
            -->
    <script
            src="../static/scripts.js"
            ></script>
    <script src = "../static/game.js"></script>
</head>

  <body>
    <div id="answer" data-answer="{{ answer }}"></div>
    <div class="game">
      <div class="pokemon-guess">
        <form id="guessForm">
            <input
              type="text"
              id="guessPokemon"
              name="guessPokemon"
              value=""
              placeholder="Type the name of a Pokemon..."
            />
            <input type="submit" value="GUESS" />
        </form>
      </div>

      <div class="feedback">
        <h3 id="feedback-text"></h3>
      </div>

      <div class="pokemon-compare">
        <table id="pokemon-compare-table">
          <tr>
            <td>...</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
