<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess that Pokemon!</title>

    <!--
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}" />
            -->
    <script
            src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
            crossorigin="anonymous"></script>
    <!--
    <script
            src="{{ url_for('static', filename='scripts.js') }}"
            ></script>
            -->
    <script
            src="../static/scripts.js"
            ></script>
</head>

<!-- TODO: Remove above in the future -->

{% extends 'index.html' %} {% block container %}
    <div class = "game">
        <div class = "pokemon-guess">
            <input type="text" id="guessPokemon" name="guessPokemon" value="" placeholder="Type the name of a Pokemon..." />
            </br>
            <!-- TODO: Modify for Flask -->
            <input type="submit" id="btn-guess" value="GUESS">
        </div>

        <div class="feedback">
            <h3 id="feedback-text"></h3>
        </div>

        <!-- Displays data and updates in realtime to show wrong guesses the player made and what was right or wrong about each guess -->
        <div class = "pokemon-compare">
            <table id="pokemon-compare-table">
                <tr><td>...</td></tr>
            </table>
        </div>
    </div>
{% endblock %}