<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess that Pokemon!</title>

    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"/>
    <script
            src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
            crossorigin="anonymous"></script>
    <script
            src="{{ url_for('static', filename='scripts.js') }}"
            async></script>
</head>
<body>
    <header>
        <span id="logo-text">Guess That Pokémon!</span>

    </header>
    <main>
        {% block container %} {% endblock %}
    </main>
</body>